/* Styling used for Login, UserProfileForm components. */

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-box {
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-heading {
  text-align: center;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.input-box {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-btn {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
}

.submit-btn {
  background-color: #003055;
  margin-bottom: 10px;
}

.submit-btn:hover {
  background-color: #0d558d;
  font-weight: 700;
}

.toggle-state-btn {
  background-color: #e6b220;
}

.toggle-state-btn:hover {
  background-color: #ffd04e;
  font-weight: 700;
}
